<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <title>Document</title>
</head>
<body class="shop">
    <header class="shop__header header">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="/">Shop</a></li>
                <li class="nav__item"><a class="nav__link" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="shop__main main">
        
     <section class="products">
       <div class="product-card">
         <img class="product-card__img" src='https://via.placeholder.com/200' alt='Product Image'>
         <h3 class="product-card__title">#{product.title}</h3>
        <p class="product-card__price"> ₹499</p>
         <p class="product-card__desc">This is a sample product description.</p>
         <button class="product-card__btn">Add to Cart</button> 
       </div>
      </section>

    </main></body>
</html>
