<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addProduct.css">
    <title>Document</title>
</head>
<body class="shop shop--add-product">
    <header class="shop__header header">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="/">Shop</a></li>
                <li class="nav__item"><a class="nav__link" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="shop__main main">
      <h1 class="main__title">My Products</h1>
      <p class="main__lead">List all the products...</p>
    </main>
</body>
</html>
