    <header class="shop__header header">
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="/">Shop</a></li>
                <li class="nav__item"><a class="nav__link" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>