doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/shop.css')
    block styles

  header.shop__header.header
    nav.header__nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href='/', class=(path==='/'? 'active': ' ')) Shop
        li.nav__item
          a.nav__link(href='/admin/add-product', class=(path==='/admin/add-product'? 'active': ' ')) Add Product
  block content